<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">

    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to Keativ</h1>
        </div>
        <div class="email-body">
            <p>Hello <%= user.name %>,</p>
            <p>Thank you for registering with Kreative. To activate your account, please use the following activation code:</p>
            <h2><%= activationCode %></h2>
            <p>This code expires in 5 minutes</p>
            <p>If you did not register for Kreative, ignore this email.</p>
        </div>
        <div class="email-footer">
            <p>If you have nay question, pleas don't hesitate to contact us at <a href="mailto:johnsdanlami@gmail.com">johnsdanlami@gmail.com</a></p>
        </div>
    </div>
</body>
</html>